<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if flash[:errors] %>
    <% flash[:errors].each do |err| %>
      <%= err %>
    <% end %>
  <% end %>


  <body>
    <%= yield %>
  </body>


<% if logged_in? %>
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
<input type="submit" name="" value="Sign Out">
  <%= auth_token %>
  </form>
  <form class="" action="<%= user_url(current_user) %>" method="get">
    <input type="submit" name="" value="All Subs">
    <%= auth_token %>
  </form>
<% end %>
</html>
